.container {
  container-type: inline-size;
  container-name: card;
  resize: horizontal;
  width: auto;
  min-width: 200px;
  max-width: 100%;
  height: auto;
}
.layout {
  border-radius: 1vmin;
  color: var(--on-surface);
  border: 1px solid var(--outline);
  display: flex;
  justify-content: space-around;
  background-color: var(--sf-4);
  flex-flow: row nowrap;
  padding: 0.5vmin;
  gap: 0.5vmin;
  box-shadow: var(--dp1);
  .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2vmin;
    grid-template-areas: 'link link link link';
    place-content: stretch;
    place-items: stretch;
  }
  .sub {
    color: var(--primary);
    font-family: var(--josefa);
    font-size: 0.6rem;
  }
  .date {
    grid-area: date;
    background-color: var(--tertiary-container);
    padding: 1vmin;
    color: var(--on-tertiary-container);
    font-family: var(--font-poiret);
    border-radius: 1vmin;
  }
  .dummytxt {
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  }
  .title {
    color: var(--primary);
    grid-area: title;
    text-align: right;
    font-size: 1rem;
    font-family: var(--font-poiret);
  }
  .content {
    text-align: center;
    grid-area: content;
    font-family: var(--roboto);
    color: var(--on-background);
    font-weight: 400;
    font-size: 0.8rem;
  }

  .linkIsActive {
    background-color: var(--primary);
    color: var(--on-primary);
    box-shadow: var(--dp1);
    &:link,
    &:visited {
      background-color: var(--secondary);
      color: var(--on-secondary);
      box-shadow: var(--dp0);
      .icon {
        margin: 0;
        grid-area: icon;
        color: var(--on-secondary);
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;

        font-size: 2rem;
      }
    }
    &:hover,
    &:focus {
      background-color: var(--tertiary);
      box-shadow: var(--dp10);
      color: var(--on-tertiary);

      & > p {
        color: var(--on-tertiary);
        font-weight: 800;
      }
      .icon {
        color: var(--tertiary-container);
        font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 200, 'opsz' 48;
      }
    }

    &:focus {
      box-shadow: var(--dp20);
      border: 2px dashed var(--primary-container);
    }

    &:active {
      background-color: var(--sf-5);
      box-shadow: var(--dp8);
    }
  }
  .link {
    background-color: var(--secondary-container);
    .icon {
      margin: 0;
      grid-area: icon;
      color: var(--secondary);
      font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
      font-size: 2rem;
    }
    &:hover,
    &:focus {
      box-shadow: var(--dp5);
      background-color: var(--primary);
      & > p {
        color: var(--on-primary);
        font-weight: 800;
      }
      .icon {
        color: var(--tertiary-container);

        font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 200, 'opsz' 48;
      }
    }

    &:focus {
      box-shadow: var(--dp20);
      border: 2px dashed var(--primary-container);
    }

    &:active {
      background-color: var(--sf-5);
      box-shadow: var(--dp8);
    }
  }
  .link,
  .linkIsActive {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-area: link;
    border-radius: 1vmin;
    padding: 0.5vmin;
    .icon {
      margin: 0;
      grid-area: icon;
      color: var(--on-tertiary-container);
      font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;

      font-size: 2rem;
    }

    @media screen and (max-width: 1000px) {
      flex-flow: row nowrap;
      justify-content: center;
      padding: 1vmin;
    }
  }
}
.error {
  background-color: var(--error-container);
  color: var(--on-error-container);
}
@container card (max-width: 400px) {
  .layout {
    background-color: var(--primary-container);
    flex-flow: column nowrap;
    .date {
      padding: 0.2vmin;
    }
  }
}
@container card (min-width: 400px) {
  .layout {
    flex-flow: column nowrap;
    background-color: var(--tertiary-container);
    .bottom {
      grid-template-areas: 'date date link link';
    }
  }
}
