.container {
  container-name: note;
  ctainer-type: size;

  .form {
    background-color: var(--surface);
    padding: 2vmin;

    .submitButton {
      border: none;
      box-shadow: var(--dp5);

      border-radius: 2vmax;
      flex-grow: 1;
      background-color: var(--sf-3);

      & > span {
        color: var(--secondary);
        font-size: 1.5rem;
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
      }

      &:hover,
      &:active {
        background-color: var(--secondary);
        box-shadow: var(--dp8);

        & > span {
          font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
          color: var(--on-secondary);
        }
      }
    }
  }
}
