.linkContainer {
  container-type: size;
  container-name: link;
}
.button {
  border: none;
  box-shadow: var(--dp5);

  border-radius: 2vmax;
  flex-grow: 1;
  background-color: var(--sf-3);
  & > span {
    color: var(--primary);
    font-size: 1.5rem;
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  &:hover,
  &:active {
    background-color: var(--primary);
    box-shadow: var(--dp8);
    & > span {
      font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
      color: var(--on-primary);
    }
  }
}

.link,
.linkIsActive {
  margin: 0;
  border: none;
  /*width: auto;*/
  /*  min-width: 5rem;
  height: auto; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 1vmin;
  .name {
    font-family: var(--font-poiret);
    flex-grow: 2;
    flex-basis: 160px;
  }
  & > span {
    margin: 0;
    flex-grow: 1;
  }

  @media screen and (max-width: 1000px) {
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1vmin;
  }
}
.linkIsActive {
  background-color: var(--primary);
  color: var(--on-primary);
  box-shadow: var(--dp2);
  &:link,
  &:visited {
    background-color: var(--secondary);
    color: var(--on-secondary);
    box-shadow: var(--dp0);
    & > span {
      color: var(--on-secondary);
      font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    }
  }
  &:hover,
  &:focus {
    background-color: var(--tertiary);
    box-shadow: var(--dp10);
    color: var(--on-tertiary);

    & > p {
      color: var(--on-tertiary);
      font-weight: 800;
    }

    & > span {
      font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
      color: var(--on-tertiary);
    }
  }

  &:focus {
    box-shadow: var(--dp20);
    border: 2px dashed var(--primary-container);
  }

  &:active {
    background-color: var(--sf-5);
    box-shadow: var(--dp8);
  }
}
.link {
  & > span {
    color: var(--on-tertiary-container);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  &:link {
    background-color: var(--sf-1);
    color: var(--on-surface);
    box-shadow: var(--dp2);
    & > p {
      color: var(--on-primary-container);
    }
  }
  &:visited {
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
  }

  &:hover,
  &:focus {
    background-color: var(--secondary);
    box-shadow: var(--dp10);
    color: var(--on-secondary);

    & > p {
      color: var(--on-primary);
      font-weight: 800;
    }

    & > span {
      font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
      color: var(--on-primary);
    }
  }

  &:focus {
    box-shadow: var(--dp20);
    border: 2px dashed var(--primary-container);
  }

  &:active {
    background-color: var(--sf-5);
    box-shadow: var(--dp8);
  }
}

@container link (min-width: 400px) {
  .link,
  .link:link,
  .link:visited {
    background-color: #ff0000;
  }
}
@container link (max-width: 400px) {
  .link,
  .link:link,
  .link:visited {
    background-color: #00ff00;
  }
}
.input {
  background-color: var(--surface);
  border: none;
  border-bottom: solid 1px var(--on-surface);
  color: var(--on-surface);
  grid-area: InputSearchBar;
  flex-grow: 1;
  &:focus {
    border: 2px dashed var(--tertiary);
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
  }
}

.inputForm {
  padding: 1vmin;
  box-sizing: border-box;
  grid-area: InputSearchBar;
  background-color: var(--tertiary-container);
  box-shadow: var(--dp3);
  & > span {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
    color: var(--secondary);
  }
  &:link {
    background-color: var(--sf-3);
    color: var(--on-surface);
  }
  &:visited {
    background-color: var(--sf-2);
    color: var(--on-surface-variant);
  }
  &:hover {
    background-color: var(--sf-5);
    color: var(--primary);
    border: 3px solid var(--outline);
    & > span {
      font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 200, 'opsz' 48;
      color: var(--secondary);
    }
  }
}
